/* styles for the body */
body {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    z-index: 100;
}

/* container styles */
.container {
    
    /* postion of the nav bar */
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: none;
    width: 100%;
    max-width: 100%;

    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 0;
    padding: 10px;
    z-index: 1000;

    /* For the 'frosty glass' like effect (or simply 'glassmorphism') on the navigation bar */
    background: linear-gradient(to right, rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.35);
}

/* Updated radio-wrapper styles */
.radio-wrapper {
    position: relative;
    height: 40px;
    width: auto;
    min-width: 60px;
    margin: 0 2px;
}

/* Made the last button wider */
.radio-wrapper:last-child {
    min-width: 130px;
}

/* styling for the navigation buttons on the navigation bar */
.btn {
    font-size: 15px;
    position: relative;
    font-weight: 900;
    width: auto;
    padding: 10px;
    height: 100%;
    line-height: 38px;
    text-align: center;
}

/* styling the text on the button */
.btn a {
    text-decoration: none;
    white-space: nowrap;
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 1;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #23abd4, #23abd4 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
}

/* making each button glow when mouse pointer is being hovered on it or it is been tapped on on a touch screen */
.nav-link:hover {
    text-shadow: 0 0 3px white, 0 0 7px white, 0 0 17px white, 0 0 27px white, 0 0 37px white, 0 0 47px white;
}

/* Disabling the underline effect of hyperlinks in the button */
.btn a::before {
    display: none;
}

.btn a:hover {
    /* Keep the gradient in its original position */
    background-position: -100%;

    /* underlying the text and adding a depth shadown for it when a mouse pointer is being hovered on it
    or it is tapped on incase of touch screens */
    text-decoration: underline;
    text-shadow: 5px;
}

.btn a:hover::before {
    width: 0;
}

/* styling the information tiles */
.section {
    background: rgba(10, 10, 10, 0.75); /* a background with 75% opacity for the glass effect to appear */
    
    /* Glass effect properties */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    
    /* Border and shadow */    
    border: 1px solid rgba(255, 255, 255, 0.2); /* subtle white border */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6), 
                0 6px 20px rgba(0, 0, 0, 0.6);
    
    /* Ensuring content is above the blur */
    position: relative;

    border-radius: 12px;
    margin: 10px auto;
    margin-top: 1%;
    padding: 1rem;
    width: 95%;
    max-width: 95%;
    transition:  0.3s ease;
}

/* making the individual section tiles pop out a bit when hovered on */
.section:hover {
    transform: translate3d(0, 5px, 5px);
}

/* styling for the content inside each section tiles */
.text {
    /* font related styles */
    font-family:sans-serif;
    font-size: 16px;

    /* text formatting related styles */
    text-shadow: 2px 2px 4px rgba(10, 10, 10, 0.8);
    color: #b3d6ed;

    /* added padding to have some space between the content inside each tile and the borders of each tile */
    padding: 10px;
}

/* section-container decided how these individual tiles be arranged, puttong them in a sort of 'container' */
.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 2rem;
    margin-bottom: 3rem;
    margin-top: 2%;
}

/* stying the title of the content inside the section tiles */
.heading {
    margin-top: 3%;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
    color: #bfc9ca;
}

/* to style the recent testimonials being entered in the home page using javascript */
#section-content {
    margin-top: 2px;
    text-decoration: none;
    font-style: italic;
}

/* main content inside the section tiles */
.sum-content {
    margin-top: 2px;
    text-decoration: none;
    font-style: italic;
}

/* styling the header of the page */
header {    
    position: relative;
    text-align: center;

    background-color: #17202a;
    width: 100%;
    padding: 1% 0 5% 0;
    margin-bottom: 1%;
    left: 0;
    right: 0;    

    background-size: cover;

    border-bottom: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.35);
}

/* styling the logo inside the header */
header img {
    position: absolute;
    left: 10px;
    top: 20%;
    transform: translateY(-50%);
    height: 60%;
    width: auto;
    transition: all 0.3s ease;
}

/* making the logo glow when hovered or tapped on depending on the input methods used to operate the website */
header img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2px white)
            drop-shadow(0 0 8px white)
            drop-shadow(0 0 12px white);    
}

/* styling the footer of the page which contains the copyright text */
footer {
    text-align: center;
    padding: 1.5rem;
    background: #17202a;
    color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.35);
}

/* styling the page title contained inside the header along with the club logo */
.title {
    font-size: 24pt;
    font-weight: bolder;
    text-decoration: underline;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    margin-top: 10%;
    margin-bottom: 0;
    padding-left: 70px;
}

/* styling the sub-heading included inside the header, only used in the testimonials page */
.content {
    font-size: 25pt;
    font-weight: bold;
    color: #d5d8dc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* styling a separate containers for the events page specifically, showing all the conducted events
   in separate tiles similiar to the home page layout*/
.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 2rem;
    margin-bottom: 3rem;
    margin-top: 5%;   
}

/* styling the individual event tiles */
.event {
    background: rgba(21, 67, 96, 0.75);
    
    /* Glass effect properties */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    
    /* Border and shadow */
    border: 1px solid rgba(255, 255, 255, 0.2); /* subtle white border */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6), 
                0 6px 20px rgba(0, 0, 0, 0.6);
    
    /* Ensure content is above the blur */
    position: relative;

    border-radius: 12px;    
    padding: 1.5rem;
    width: 100%;
    max-width: 500px;

    /* making sure all the effects happen smoothly */
    transition:  0.3s ease;
}

/* optimizing the styling for medium sized devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        justify-content: space-around;
        padding: 15px 30px;
    }
    
    .radio-wrapper {
        height: 55px;
        min-width: 90px;
    }
    
    .btn a {
        font-size: 20px;
    }
    
    .title {
        font-size: 35pt;
    }
    
    .section {
        max-width: 80%;
    }
}

/* optimizing the styling for large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 95%;
        max-width: 1100px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 12px;
        margin-top: 20px;
    }
    
    .title {
        font-size: 45pt;
    }
    
    .section {
        max-width: 500px;
    }
    
    .text {
        font-size: 30px;
    }
}